html {
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  font-family: 'Hiragino Mincho Pro',serif;
}

a {
  color: #000000;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

body.noscroll {
  overflow: hidden;
}

.sp-br {
  display: none;
}

@media print, screen and (max-width: 768px) {
  .sp-br {
    display: block;
  }
}

.cmn-title {
  text-align: center;
}

.cmn-title .main-title {
  font-size: 3.8rem;
}

.cmn-title .border {
  height: 1px;
  background-color: #000;
  width: 60px;
  display: block;
  margin: 0 auto;
}

.cmn-title .sub-title {
  font-size: 2rem;
  margin-top: 2rem;
  display: block;
}

.inner {
  max-width: 1200px;
  padding: 0 1.6rem;
  margin: 0 auto;
}

@media print, screen and (max-width: 768px) {
  .inner {
    max-width: 100%;
    padding: 0 1rem;
  }
}

.footer {
  text-align: center;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.6);
}

.footer small {
  font-size: 1.8rem;
}

.header {
  position: fixed;
  z-index: 10;
  color: #fff;
  width: 100%;
  height: 60px;
  line-height: 60px;
}

.header .header-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 2rem;
}

.header .header-contents .header-logo {
  font-size: 2.6rem;
  color: #fff;
}

.header .header-contents .header-logo:hover {
  opacity: 0.8;
}

.header .header-contents .header-nav {
  margin-left: 2.8rem;
}

@media print, screen and (max-width: 768px) {
  .header .header-contents .header-nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #282f35;
    margin-left: 0;
  }
}

.header .header-contents .header-nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media print, screen and (max-width: 768px) {
  .header .header-contents .header-nav .nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
}

.header .header-contents .header-nav .nav-list .nav-item {
  font-size: 2.2rem;
}

.header .header-contents .header-nav .nav-list .nav-item:nth-child(n+2) {
  margin-left: 2rem;
}

@media print, screen and (max-width: 768px) {
  .header .header-contents .header-nav .nav-list .nav-item:nth-child(n+2) {
    margin-left: 0;
  }
}

.header .header-contents .header-nav .nav-list .nav-item:hover {
  opacity: 0.8;
}

@media print, screen and (max-width: 768px) {
  .header .header-contents .header-nav .nav-list .nav-item {
    margin-bottom: 3rem;
  }
}

.header .header-contents .header-nav .nav-list .nav-item .header-link {
  display: block;
  color: #fff;
}

@media print, screen and (max-width: 768px) {
  .header .header-contents .header-nav .nav-list .nav-item .header-link {
    color: #fff !important;
  }
}

.header .header-contents .burger-btn {
  display: none;
  position: absolute;
  top: 1.7rem;
  right: 2.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

@media print, screen and (max-width: 768px) {
  .header .header-contents .burger-btn {
    display: block;
  }
}

.header .header-contents .burger-btn .bar {
  display: block;
  background-color: #fff;
  height: 2px;
  width: 35px;
}

.header .header-contents .burger-btn .bar-top,
.header .header-contents .burger-btn .bar-mid {
  margin-bottom: 8px;
  -webkit-transition: .3s;
  transition: .3s;
}

.header .header-contents .burger-btn .bar-bottom {
  -webkit-transition: .3s;
  transition: .3s;
}

.header .header-contents .burger-btn.cross .bar-top {
  -webkit-transform: rotate(45deg) translate(7px, 7px);
          transform: rotate(45deg) translate(7px, 7px);
}

.header .header-contents .burger-btn.cross .bar-mid {
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.header .header-contents .burger-btn.cross .bar-bottom {
  -webkit-transform: rotate(-45deg) translate(7px, -7px);
          transform: rotate(-45deg) translate(7px, -7px);
}

.bgcolor-change {
  background-color: #fff;
  opacity: 0.9;
  border-bottom: 1px solid #a0a0a0;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.top {
  position: relative;
}

.top .top-title {
  font-size: 4rem;
  line-height: 6rem;
  color: #fff;
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  z-index: 5;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

@media print, screen and (max-width: 768px) {
  .top .top-title {
    font-size: 10vw;
  }
}

.top .top-title span {
  margin-left: 2rem;
  display: inline-block;
}

@media print, screen and (max-width: 768px) {
  .top .top-title span {
    margin-left: 1rem;
  }
}

.top .top-title .copy2 {
  margin-top: 6rem;
}

@media print, screen and (max-width: 768px) {
  .top .top-title .copy2 {
    margin-top: 2rem;
  }
}

.top .top-title .copy3 {
  margin-top: 12rem;
}

@media print, screen and (max-width: 768px) {
  .top .top-title .copy3 {
    margin-top: 4rem;
  }
}

.top img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100vh;
}

.slick-arrow {
  display: none !important;
}

.about {
  padding: 10rem 0;
  background-color: whitesmoke;
}

.about .about-list {
  margin-top: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about .about-list .about-item {
  width: 50%;
}

@media print, screen and (max-width: 768px) {
  .about .about-list .about-item {
    width: 100%;
    margin-bottom: 1rem;
  }
}

.about .about-list .about-item:nth-child(2) .about-text1 {
  text-align: center;
}

.about .about-list .about-item:nth-child(2) .about-text1 .item-subtitle {
  margin-top: 1.5rem;
  font-size: 2.6rem;
}

.about .about-list .about-item:nth-child(2) .about-text1 .text-list {
  margin-top: 1rem;
}

.about .about-list .about-item:nth-child(2) .about-text1 .text-list .text-item {
  font-size: 2rem;
  line-height: 2;
}

.about .about-list .about-item:nth-child(2) .about-text1 .info-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 25%;
  margin: 1rem auto 0;
}

@media print, screen and (max-width: 768px) {
  .about .about-list .about-item:nth-child(2) .about-text1 .info-list {
    width: 50%;
  }
}

.about .about-list .about-item:nth-child(2) .about-text1 .info-list .info-item {
  font-size: 3.6rem;
}

.about .about-list .about-item:nth-child(2) .about-text1 .info-list .info-item i:hover {
  color: #00ffff;
  -webkit-transition: .3s;
  transition: .3s;
}

.about .about-list .about-item:nth-child(3) {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.about .about-list .about-item:nth-child(4) {
  text-align: center;
}

@media print, screen and (max-width: 768px) {
  .about .about-list .about-item:nth-child(4) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}

.about .about-list .about-item:nth-child(4) .about-text2 {
  margin-left: auto;
}

.about .about-list .about-item:nth-child(4) .about-text2 .item-subtitle {
  margin-top: 1rem;
  font-size: 2.6rem;
}

.about .about-list .about-item:nth-child(4) .about-text2 .text-list {
  margin-top: 1rem;
}

.about .about-list .about-item:nth-child(4) .about-text2 .text-list .text-item {
  font-size: 2rem;
  line-height: 2;
}

.about .about-list .about-item:nth-child(4) .about-text2 .text-list .text-item .sp-br {
  display: none;
}

@media print, screen and (max-width: 768px) {
  .about .about-list .about-item:nth-child(4) .about-text2 .text-list .text-item .sp-br {
    display: block;
  }
}

.workout {
  padding: 10rem 0;
  background-color: whitesmoke;
}

.workout .workout-contents {
  margin-top: 6rem;
}

.workout .workout-contents .workout-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media print, screen and (max-width: 768px) {
  .workout .workout-contents .workout-list {
    display: block;
  }
}

.workout .workout-contents .workout-list .workout-item {
  width: calc(33% - 2rem/3);
}

.workout .workout-contents .workout-list .workout-item :hover {
  opacity: 0.8;
  -webkit-transition: .3s;
  transition: .3s;
}

@media print, screen and (max-width: 768px) {
  .workout .workout-contents .workout-list .workout-item {
    width: 100%;
    margin-bottom: 2rem;
  }
}

.workout .workout-contents .workout-list .workout-item p {
  margin-top: 0.7rem;
  text-align: center;
  font-size: 1.6rem;
}

.workout .workout-contents .workout-list .workout-item p:nth-child(2) {
  font-size: 2rem;
  font-weight: bold;
}

.workout .workout-contents .workout-list .workout-item:nth-child(n+4) {
  margin-top: 4rem;
}

.myskill {
  padding: 10rem 0;
  background-image: url(../img/minatomirai.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
}

.myskill .cmn-title .border {
  background-color: #fff;
}

.myskill .myskill-contents {
  margin-top: 6rem;
}

.myskill .myskill-contents .myskill-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media print, screen and (max-width: 768px) {
  .myskill .myskill-contents .myskill-list {
    display: block;
  }
}

.myskill .myskill-contents .myskill-list .myskill-item {
  width: calc(25% - (8rem/4));
  text-align: center;
}

@media print, screen and (max-width: 768px) {
  .myskill .myskill-contents .myskill-list .myskill-item {
    width: 100%;
    margin-bottom: 2rem;
  }
}

.myskill .myskill-contents .myskill-list .myskill-item .myskill-title {
  font-size: 2.4rem;
}

.myskill .myskill-contents .myskill-list .myskill-item .fas, .myskill .myskill-contents .myskill-list .myskill-item .fab {
  padding: 4.5rem 0;
  font-size: 15rem;
}

.myskill .myskill-contents .myskill-list .myskill-item .myskill-text {
  padding: 2.4rem 1.2rem;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 1rem;
  font-size: 1.6rem;
  text-align: left;
}

.myskill .myskill-contents .myskill-list .myskill-item .fa-code {
  color: #00bfff;
}

.myskill .myskill-contents .myskill-list .myskill-item .fa-sass {
  color: #ff69b4;
}

.myskill .myskill-contents .myskill-list .myskill-item .fa-js-square {
  color: #ffff00;
}

.myskill .myskill-contents .myskill-list .myskill-item .fa-wordpress {
  color: #ffa500;
}

.service {
  padding: 10rem 0;
  background-image: url(../img/minatomirai_1.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
}

.service .cmn-title .border {
  background-color: #fff;
}

.service .service-contents {
  margin-top: 6rem;
}

.service .service-contents .service-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media print, screen and (max-width: 768px) {
  .service .service-contents .service-list {
    display: block;
  }
}

.service .service-contents .service-list .service-item {
  width: calc(50% - 6rem/2);
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 1.5rem;
  text-align: center;
  padding: 5rem 4rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media print, screen and (max-width: 768px) {
  .service .service-contents .service-list .service-item {
    width: 100%;
    margin-bottom: 1rem;
  }
}

.service .service-contents .service-list .service-item .item-title {
  font-size: 2.4rem;
}

.service .service-contents .service-list .service-item .fas, .service .service-contents .service-list .service-item .fab {
  margin-top: 3rem;
  font-size: 5rem;
}

.service .service-contents .service-list .service-item .item-text {
  font-size: 2rem;
  margin: 3rem 0;
  text-align: left;
}

.service .service-contents .service-list .service-item .price-list {
  text-align: left;
  font-size: 2rem;
  line-height: 3.8rem;
}

.contact {
  padding: 10rem 0;
  background-color: whitesmoke;
}

.contact .sns {
  margin-top: 5rem;
}

.contact .sns .sns-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 15%;
  margin: 0 auto;
}

@media print, screen and (max-width: 768px) {
  .contact .sns .sns-list {
    width: 40%;
  }
}

.contact .sns .sns-list .sns-icon .fab {
  font-size: 5rem;
}

.contact .sns .sns-list .sns-icon .fab:hover {
  color: #00ffff;
  -webkit-transition: .3s;
  transition: .3s;
}

.contact .form {
  width: 35%;
  margin: 0 auto;
  font-size: 2rem;
}

@media print, screen and (max-width: 768px) {
  .contact .form {
    width: 80%;
  }
}

.contact .form input, .contact .form textarea {
  display: block;
  width: 100%;
  margin-top: 3.6rem;
  padding: 0.5rem 0 0.5rem 0.5rem;
  line-height: 1.8;
  font-size: 1.8rem;
}

.contact .form .btn {
  display: block;
  margin: 2.5rem auto 0;
  padding: 1rem;
  border-radius: 0.4rem;
}

.contact .form .btn:hover {
  background-color: #00ffff;
}
/*# sourceMappingURL=style.css.map */