.myskill {
  padding: 10rem 0;
  background-image: url(../img/minatomirai.jpg);
  background-size: cover;
  background-position: center;
  color: cl(white);
  .cmn-title {
    .border {
      background-color: cl(white);
    }
  }
  .myskill-contents {
    margin-top: 6rem;
    .myskill-list {
      display: flex;
      justify-content: space-between;
      @include responsive {
        display: block;
      }
      .myskill-item {
        width: calc(25% - (8rem/4));
        text-align: center;
        @include responsive {
          width: 100%;
          margin-bottom: 2rem;
        }
        .myskill-title {
          font-size: 2.4rem;
        }
        .fas,.fab {
          padding: 4.5rem 0;
          font-size: 15rem;
        }
        .myskill-text {
          padding: 2.4rem 1.2rem;
          margin-top: 1rem;
          background-color: rgba(0,0,0,0.6);
          border-radius: 1rem;
          font-size: 1.6rem;
          text-align: left;
        }
        .fa-code {
          color: cl(blue);
        }
        .fa-sass {
          color: cl(pink);
        }
        .fa-js-square {
          color: cl(yellow);
        }
        .fa-wordpress {
          color: cl(orange);
        }
      }
    }
  }
}
