.service {
  padding: 10rem 0;
  background-image: url(../img/minatomirai_1.jpg);
  background-size: cover;
  background-position: center;
  color: cl(white);
  .cmn-title {
    .border {
      background-color: cl(white);
    }
  }
  .service-contents {
    margin-top: 6rem;
    .service-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include responsive {
        display: block;
      }
      .service-item {
        width: calc(50% - 6rem/2);
        background-color: rgba(0,0,0,0.6);
        border-radius: 1.5rem;
        text-align: center;
        padding: 5rem 4rem;
        box-sizing: border-box;
        @include responsive {
          width: 100%;
          margin-bottom: 1rem;
        }
        .item-title {
          font-size: 2.4rem;
        }
        .fas,.fab {
          margin-top: 3rem;
          font-size: 5rem;
        }
        .item-text {
          font-size: 2rem;
          margin: 3rem 0;
          text-align: left;
        }
        .price-list {
          text-align: left;
          font-size: 2rem;
          line-height: 3.8rem;
        }
      }
    }
  }
}
