.top {
  position: relative;
  .top-title {
    font-size: 4rem;
    line-height: 6rem;
    color: cl(white);
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 5;
    writing-mode: vertical-rl;
    @include responsive {
      font-size: 10vw;
    }
    span {
      margin-left: 2rem;
      display: inline-block;
      @include responsive {
        margin-left: 1rem;
      }
    }
    .copy2 {
      margin-top: 6rem;
      @include responsive {
        margin-top: 2rem;
      }
    }
    .copy3 {
      margin-top: 12rem;
      @include responsive {
        margin-top: 4rem;
      }
    }
  }
  img {
    object-fit: cover;
    height: 100vh;
  }
}

.slick-arrow {
  display: none!important;
}
