.workout {
  padding: 10rem 0;
  background-color: cl(whitesmoke);
  .workout-contents {
    margin-top: 6rem;
    .workout-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      @include responsive {
        display: block;
      }
      .workout-item {
        width: calc(33% - 2rem/3);
        :hover {
          opacity: 0.8;
          transition: .3s;
        }
        @include responsive {
          width: 100%;
          margin-bottom: 2rem;
        }
        p {
          margin-top: 0.7rem;
          text-align: center;
          font-size: 1.6rem;
          &:nth-child(2) {
            font-size: 2rem;
            font-weight: bold;
          }
        }
        &:nth-child(1) {
         
        }
        &:nth-child(2) {

        }
        &:nth-child(3) {

        }
        &:nth-child(4) {

        }
        &:nth-child(5) {

        }
        &:nth-child(6) {

        }
        &:nth-child(7) {

        }
        &:nth-child(8) {

        }
        &:nth-child(n+4) {
          margin-top: 4rem;
        }
      }
    }
  }
}
