.workout {
  padding: 10rem 0;
  background-color: cl(whitesmoke);
  .workout-contents {
    margin-top: 6rem;
    .workout-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include responsive {
        display: block;
      }
      .workout-item {
        width: calc(33% - 2rem/3);
        @include responsive {
          width: 100%;
          margin-bottom: 2rem;
        }
        &:hover {
          opacity: 0.7;
          transition: .3s;
        }
      }
    }
  }
}
